/* fonts */
/* 
font-family: 'Myriad Pro';
font-family: 'Roboto';
font-family: 'Nunito Sans';
font-family: 'Montserrat'; 
*/



/* steps */
/* 
1-folders and files structure
2-download, install libs
3-download, convert fonts
4-link css files and script js files
*/
/* steps END */





/* base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,
a:hover {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    font-family: 'Montserrat';
}

h1,
h2,
h3,
p,
ul,
ol,
dl {
    margin-bottom: 0;
}
a {
    color: #000;
}
/* base styles end */

/* HEADER */
.header {
    background-color: #e9e9e9;
   
}
.header__logo {
    display: block;
    margin: 18px 0;
}
.header__nav-a:not(:last-child) {
    margin-right: 30px;
}
.header__nav-link:hover {
    color: #007d2f;
}
.header__nav-link {
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    color: #191919;
}
.header__content-title {
    font-weight: 500;
    font-size: 36px;
    color: #1d1d1d;
    margin: 70px 0 30px;
}
.header__content-text {
    font-size: 15px;
    font-weight: 100;
    color: #787878;
    margin-bottom: 50px;
    width: 385px;
}
.header__content-btn {
    width: 190px;
    height: 55px;
    background: #007d2f;
    border: none;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
}


/* HEADER END */

/* MAIN */
/* BREAKFAST */
.breakfast {
    background: #f6f6f6;
}

.breakfast__title {
    font-size: 38px;
    color:#171717 ;
    font-weight: 700;
}

.breakfast__text {
    color: #787878;
    font-family: 'Nunito Sans';
    line-height: 1.5;
    margin-top: 30px;
}
.breakfast__text span {
    display: block;
}
.breakfast__container {
    width: 47%;
    margin: 0 auto;
}
.breakfast__info {
    margin-top: 60px;
}
.breakfast__p {
    font-family: 'Nunito Sans';
    color: #787878;
}
.breakfast__p span {
    font-family: 'Nunito Sans';
    font-weight: 700;
    color: #171717;
    padding-right: 6px;
}
.breakfast__controls {
    background:#007d2f;
}
.breakfast__control-img {
    margin: 40px 0;
}
.breakfast__left {
    width: 50%;
    padding: 105px 0;
}
.breakfast__img {
    width: 50%;
    object-fit: cover;
}
.breakfast__prv-text, .breakfast__next-text {
    margin: 12px;
}
.breakfast__controls a {
    display: block;
    width: 200px;
}


.carousel-control-prev, .carousel-control-next {
    position: initial;
}
/* BREAKFAST END */
/* MAIN END */



/* FOOTER */
.footer {
    background: #141414;
}
.footer__inc {
    color: #fff !important;
    font-weight: 500;
    margin: 100px 0 25px;
    
}
.footer__rights, .footer__designed {
    font-family: 'Myriad Pro';

}
.footer__designed {
    margin-bottom: 100px;
}
.footer__left p{
    color: #bcbcbc;
}
.footer__middle {
    height: 100px;
}
.footer__middle a{
    color: #b1b1b1;
    font-family: 'Nunito Sans';
}
.footer__left-links {
    color: #bcbcbc;
}
.footer__left-li:hover {
    color: #007d2f;
}
.footer__middleul {
    padding: 0 15px;
}
.footer__right {
    font-family: 'Nunito Sans';
}
.footer__row {
    height: fit-content;
}

/* FOOTER END */ 


/* Как поставить на паузу карусель в chrome? */